<template name="requestedTimeAgoCell">
	<h4><span class="label label-{{attention}}">{{requestedDateTimeAgo}}</span></h4>
</template>

<template name="orderTypeCell">
	<p><strong>{{friendlyOrderType}}</strong></p>
</template>

<template name="patronReservationCell">
	<p><strong>{{deviceLocation}}</strong></p>
	<p>{{guestName}}</p>
</template>

<template name="orderStatusCell">
	<p><strong>{{orderStatus}}</strong></p>
	{{#if isPending}}
		<p>Claimed by: {{claimedName}}</p>
		<p>{{claimedDate}}</p>
	{{/if}}
</template>

<template name="orderStatusButtonsCell">
	<button type="button" class="btn-block {{statusButtonClass}}">{{statusButtonText}}</button>
	<button type="button" class="btn-block btn btn-default btn-cancel-order">Cancel</button>
</template>