.modal {
  color: #000;

  &.in {
    display: block;
  }

  .modal-dialog {
    margin-top: 65px;

    .modal-content {
      background: rgba(255,255,255,.92);

      a, span, legend {
        color: #000;
      }
    }
  }

  

  .form-control {
    color: #000;
  }

  .has-error .control-label {
    color: #000;
  }
}

