.modal-backdrop.in {
  opacity: .9;
}

.modal {
  color: #fff;

  &.in {
    display: block;
  }

  .modal-dialog {
    margin-top: 100px;

    .modal-content {
      background: transparent;
      box-shadow: none;
      border: none;

      a, span, legend {
        color: #fff;
      }
    }
  }

  .modal-footer {
    
    .btn {
      font-size: 16px;
      padding: 6px 20px;
      font-weight: 200;
      letter-spacing: 1px;
      &.btn-cancel {
        background: transparent;
        color: #fff;
      }
    }

  }

  

  .form-control {
    color: #000;
  }

  .has-error .control-label {
    color: #fff;
  }
}

