.modal-backdrop.in {
  opacity: .9;
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal {
  color: #fff;
  text-align: left;

  &.in {
    display: block;
  }

  .modal-dialog {
    margin-top: 100px;

    .modal-content {
      background: transparent;
      box-shadow: none;
      border: none;

      a, span, legend {
        color: #fff;
      }

      .modal-header {
        button.close {
          color: #fff;
          opacity: 1;
          text-shadow: none;
        }
      }

      .modal-footer {
        .btn {
          font-size: 16px;
          padding: 6px 20px;
          font-weight: 200;
          letter-spacing: 1px;
          &.btn-cancel, &.btn-reset {
            background: transparent;
            color: #fff;

            &:hover, &:focus, &:visited {
              color: #fff;
            }
          }
        }
      }

      

    }
  }

  .form-control {
    color: #000;
  }

  .has-error .control-label {
    color: #fff;
  }
}

