@import '/client/style/imports.import.less';

.navbar-plusmore {
  width: 100%;
  background: rgba(0,0,0,.3);
  border: none;

  a.navbar-brand {
    color: #fff;
    &:hover, &:active, &:focus , &:visited {
      background: transparent;
    }
  }

  .nav {
    li {
      background: none;
      .transition(all 600ms ease-in-out);

      &:hover, &:active, &:focus, &:visited {
        background: none;
      }

      &.inactive {
        background: none;
        &:hover, &:active, &:focus, &:visited {
          background: none;
        }
      }

      &.active {
        background: rgba(255,255,255,1);
        border-bottom: 1px solid #fff;

        &:hover, &:active {
          background: #fff;
        }
        a {
          color: #000;
          &:hover, &:active, &:focus , &:visited {
            color: #000;
          }

          span.text {
            color: #000;
          }
        }
      }

      a {
        color: #fff;
        &:hover, &:active, &:focus , &:visited {
          background: transparent;
        }
      }
    }
  }
}