<template name="FilterOrdersByGroupSelect">
  <select class="form-control input-sm" id='order-group-filter'>
    <option value="none">-- (select group to filter) --</option>
    <option value="all">All Orders</option>
    {{#if currentUser.isManager}}
      {{#each allGroups}}
        <option value="{{_id}}">{{name}} Orders</option>
      {{/each}}
    {{else}}
      {{#each currentUser.memberOfGroups}} <!-- collection helper -->
        <option value="{{_id}}">{{name}} Orders</option>
      {{/each}}
    {{/if}}
  </select>
  <em><small class="pull-right">Selected: {{filterGroupSelect}}</small></em>
</template>
