<template name="SidebarProfile">
  <div class="sidebar-profile visible-xs">
    <div class="avatar">
      <img class="img-circle profile-image" src="{{accountAvatar}}">
      <i class="on border-dark animated bounceIn"></i>
    </div>
    <div class="profile-body dropdown">
      <a id="profile-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <h4>{{accountName}}<span class="caret"></span></h4>
      </a>
      <!--<small class="title">{{userRole}}</small>-->
      <ul class="dropdown-menu animated fadeInRight" role="menu" aria-labelledby="profile-dropdown">
        <li>
          <a href="{{pathFor 'Account'}}">
            <span class="icon"><i class="fa fa-user"></i>
          </span>My Account</a>
        </li>
        <li>
          <a href="{{pathFor 'Account.Settings'}}">
            <span class="icon"><i class="fa fa-cog"></i>
          </span>Settings</a>
        </li>
        <li class="divider"></li>
        <li>
          <a id="logout" href="javascript:void(0);">
            <span class="icon"><i class="fa fa-sign-out"></i>
          </span>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</template>