<template name="EditHotelAmenityModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-right">
          <a href="#" class="icon icon-x" data-dismiss="modal"></a>
        </div>
        <h2 class="modal-title">Edit Hotel Amenity</h2>
      </div>
      {{#with amenity}}
        {{#autoForm collection='HotelAmenities' doc=this id='editAmenity' type='update'}}
          <div class="modal-body">
            {{> afFieldInput name='hotelId' type='hidden' value=hotelId}}
            {{> afQuickField name='name'}}
            {{> afQuickField name='description' rows=3}}
            <div class="row">
              <div class="col-sm-4">
                {{> afQuickField name='availableAnytime'}}
              </div>
              {{#if afFieldValueIs name='availableAnytime' value=false}}
                {{> editAmenityTimePicker}}
              {{/if}}
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-cancel" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary progress-button" data-loading="Saving..." data-finished="Saved!">Save Changes</button>
          </div>
        {{/autoForm}}
      {{/with}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</template>

<template name="editAmenityTimePicker">
  <div class="col-sm-4 picker-container with-vertical-label">
    {{> afQuickField name='startTime' class='timepicker'}}
    {{> afFieldInput name="startMinutes" type="hidden"}}
  </div>
  <div class="col-sm-4 picker-container with-vertical-label">
    {{> afQuickField name='endTime' class='timepicker'}}
    {{> afFieldInput name="endMinutes" type="hidden"}}
  </div>
</template>
