<template name="HotelAmenity">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{name}}
            <small>
              Available
              {{#if availableAnytime}}
                Anytime
              {{else}}
                {{startTime}} - {{endTime}}
              {{/if}}
            </small>
          </h3>
          <div class="actions pull-right">
            <i class="icon icon-fw icon-pencil" id="edit-amenity"></i>
            <i class="icon icon-fw icon-chevron-down"></i>
            <i class="icon icon-fw icon-x" id="remove-amenity"></i>
          </div>
        </div>
        <div class="panel-body">
          <h4>{{description}}</h4>
          <div class="row">
            <div class="col-xs-12">
              <ul>
                {{#each amenityDetails}}
                  <li><p>{{detail}} <a href="#" class="icon icon-fw icon-x" id="remove-detail"></a></p></li>
                {{/each}}
              </ul>
            </div>
            <div class="col-xs-12">
              {{#autoForm collection="AmenityDetails" id="insertAmenityDetail" type="insert"}}
                {{> afFieldInput name="hotelId" type="hidden" value=hotelId}}
                {{> afFieldInput name="amenityId" type="hidden" value=_id}}
                {{> afQuickField name="detail" label=false placeholder="Type here to add details..."}}
              {{/autoForm}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
