<template name="staffAvatarCell">
  <span class="avatar">
    <img src="{{avatar}}" class="img-circle" alt=""> <!-- collection helper -->
  </span>
</template>

<template name="staffFirstNameCell">
  <h3 class="text-center">{{firstName}}</h3> <!-- collection helper -->
</template>

<template name="staffLastNameCell">
  <h3 class="text-center">{{lastName}}</h3> <!-- collection helper -->
</template>

<template name="staffContactCell">
  <h3>{{email}}</h3><!-- collection helper -->
  <h4>{{phone}}</h4><!-- collection helper -->
</template>

<template name="staffRoleCell">
  <h3 class="text-center">{{friendlyRole}}</h3><!-- collection helper -->
</template>

<template name="staffEditCell">
  <a id="edit-staff-details" href="#"><i class="icon icon-fw icon-pencil"></i></a>
</template>
