<template name="GuestCheckInModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="staff-details">Guest Check-In</h3>
      </div>

      {{#autoForm id="guestCheckInModalForm" schema=guestCheckInSchema type="method" meteormethod="checkInGuest"}}
        {{> afFieldInput name='hotelId' type='hidden' value=hotelId}}
        {{> afFieldInput name='preregId' type='hidden' id="preregId"}}
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <select class="form-control" id='select-prereg-stay'>
                  <option value="none">-- Select Preregistered Stay (Optional) --</option>
                  {{#each preregisteredStays}}
                    <option value="{{_id}}">{{preReg.guestLastName}} ({{friendlyStartDate}} - {{friendlyEndDate}})</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              {{> afQuickField name='guestFirstName'}}
            </div>
            <div class="col-sm-6">
              {{> afQuickField name='guestLastName' id="guestLastName"}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              {{> afQuickField name='guestEmail' id="guestEmail"}}
            </div>
            <div class="col-xs-12">
              {{> afQuickField name='guestPhone' placeholder='xxx-xxx-xxxx' id="guestPhone"}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              {{> afQuickField name='roomId' options=roomOptions}}
            </div>
            <div class="col-sm-6">
              {{> afQuickField name='checkoutDate' id="checkoutDate"}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary progress-button" data-loading="Checking In..." data-finished="Checked In!">Check-In Guest</button>
        </div>
      {{/autoForm}}

    </div>
  </div>
</template>
