<template name="GuestCheckInWidget">
  <a id="launch-checkin-modal" href="#">
    <div class="panel panel-solid-info widget-mini">
      <div class="panel-body">
        <i class="fa fa-fw fa-sign-in"></i>
        <div style="min-height: 67px">
          {{#if Template.subscriptionsReady}}
            <span class="total text-center">Check In</span>
            <span class="title text-center">Check in a guest</span>
          {{else}}
            {{> spinner}}
          {{/if}}
        </div>
      </div>
    </div>
  </a>
</template>
