<template name="OpenOrdersWidget">
  <a href="{{pathFor 'Orders.Open'}}">
    <div class="panel panel-solid-primary widget-mini">
      <div class="panel-body">
        <i class="icon icon-fw icon-bell"></i>
        <div style="min-height: 67px">
          {{#if Template.subscriptionsReady}}
            <span class="total text-center">{{getPublishedCount 'open-orders'}}</span>
            <span class="title text-center">Open Orders</span>
          {{else}}
            {{> spinner}}
          {{/if}}
        </div>
      </div>
    </div>
  </a>
</template>
