<template name="WeatherWidget">
  <div class="panel widget-mini">
    <div class="panel-body">
      <i class="icon icon-fw icon-sun"></i>
      <div style="min-height: 67px">
        {{#if Template.subscriptionsReady}}
          {{> WeatherInfo}}
        {{else}}
          {{> spinner}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="WeatherInfo">
  <span id="temp" class="total text-center">{{> spinner}}</span>
  <span id="conditions" class="title text-center"></span>
</template>
