<template name="AddMenuCategoryModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-right">
          <a href="#" class="icon icon-x" data-dismiss="modal"></a>
        </div>
        <h2 class="modal-title">Add Menu Category</h2>
      </div>
      {{#autoForm schema=menuCategorySchema collection='MenuCategories' id='newMenuCategory' type='insert'}}
        <div class="modal-body">
          {{> afFieldInput name='hotelId' type='hidden' value=hotelId}}
          {{> afQuickField name='name'}}
          {{> afQuickField name='description' rows=3}}
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-cancel" data-dismiss="modal">Cancel</a>
          <button type="submit" class="btn btn-primary progress-button" data-loading="Creating..." data-finished="Added!">Add Category</button>
        </div>
      {{/autoForm}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</template>

