<template name="EditMenuCategoryModal">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-right">
          <a href="#" class="icon icon-x" data-dismiss="modal"></a>
        </div>
        <h2 class="modal-title">Edit Menu Category</h2>
      </div>
      {{#with menuCategory}}
	      {{#autoForm collection='MenuCategories' id='editMenuCategory' doc=this type="update"}}
	        <div class="modal-body">
	          <div class="row">
	            <div class="col-md-12">
	              {{> afQuickField name='name'}}
	              {{> afQuickField name='description' rows=3}}
	            </div>
	          </div>
	        </div>

	        <div class="modal-footer">
	          <button type="submit" class="btn btn-default btn-lg">Save Changes</button>
	        </div>
	      {{/autoForm}}
      {{/with}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</template>