<template name="SidebarProfile">
  {{#with user}}
    <div class="sidebar-profile visible-xs">
      <div class="avatar">
        <img class="img-circle profile-image" src="{{avatar}}"><!-- collection helper -->
        <i class="on border-dark animated bounceIn"></i>
      </div>
      <div class="profile-body dropdown">
        <a id="profile-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <h4>{{fullName}}<span class="caret"></span></h4>
        </a>
        <!--<small class="title">{{userRole}}</small>-->
        <ul class="dropdown-menu animated fadeInRight" role="menu" aria-labelledby="profile-dropdown">
          <li>
            <a href="{{pathFor 'Account'}}">
              <span class="icon"><i class="icon icon-fw icon-user"></i>
            </span>My Account</a>
          </li>
          <li class="divider"></li>
          <li>
            <a id="logout" href="#">
              <span class="icon"><i class="icon icon-fw icon-log-out"></i>
            </span>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  {{/with}}
</template>
