<template name="SidebarProfile">
  <div class="sidebar-profile">
    <div class="avatar">
      <img class="img-circle profile-image" src="/img/profile.jpg">
      <i class="on border-dark animated bounceIn"></i>
    </div>
    <div class="profile-body dropdown">
      <a id="profile-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <h4>Mike Adams <span class="caret"></span></h4>
      </a>
      <small class="title">Front-end Developer</small>
      <ul class="dropdown-menu animated fadeInRight" role="menu" aria-labelledby="profile-dropdown">
        <li class="profile-progress">
          <h5>
          <span>80%</span>
          <small>Profile complete</small>
          </h5>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-primary" style="width: 80%">
            </div>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-user"></i>
          </span>My Account</a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-envelope"></i>
          </span>Messages</a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-cog"></i>
          </span>Settings</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-sign-out"></i>
          </span>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</template>