<template name="RoomActiveStayCell">
  <a id="view-stay-details" href="#">{{stay.dateRange}}</a><!-- collection helper -->
</template>

<template name="RoomHasDeviceCell">
  {{#if roomHasDevice}}
    <i class="icon icon-fw icon-check-mark" data-toggle="tooltip" data-placement="top" title="Device Configured"></i>
  {{else}}
    <i class="icon icon-fw icon-x" data-toggle="tooltip" data-placement="top" title="No Device Configured"></i>
  {{/if}}
</template>

<template name="RoomActionsCell">
  {{#if isHotelManager}}
    <button id="edit-room" type="button" class="btn btn-primary btn-sm pull-right">Edit</button>
  {{/if}}
</template>

