<template name="RoomHasDeviceCell">
	{{#if roomHasDevice}}
		<i class="fa fa-fw fa-check" data-toggle="tooltip" data-placement="top" title="Device Configured"></i>
	{{else}}
		<i class="fa fa-fw fa-times" data-toggle="tooltip" data-placement="top" title="No Device Configured"></i>
	{{/if}}
</template>

<template name="RoomActionsCell">
	{{#if isHotelManager}}
		<div class="btn-group pull-right" role="group" aria-label="Room actions">
			<button id="edit-room" class="btn btn-info btn-sm">Edit</button>
			<button id="delete-room" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
		</div>
	{{/if}}
</template>

