<template name="requestedTimeAgoCell">
  <h3>{{requestedDateTimeAgo}}</h3>
  <h3><small>{{formattedRequestedWhen}}</small></h3>
</template>

<template name="orderTypeCell">
  <h3>{{friendlyServiceType}}</h3><!-- collection helper -->
  {{#if hasRequestedForDate}}<!-- collection helper -->
    <h3><small>{{requestedForWhen}}</small></h3><!-- collection helper -->
  {{/if}}
</template>

<template name="reservationCell">
  <h3>{{orderedByFullName}}</h3>
  <h3><small>{{room.name}}</small></h3>
</template>

<template name="orderStatusCell">
  <h3>{{friendlyStatus}}</h3><!-- collection helper -->
  {{#if isPending}}<!-- collection helper -->
    <h3><small>{{receivedByFullName}}</small></h3><!-- collection helper -->
    <h3><small>{{formattedReceivedWhen}}</small></h3><!-- collection helper -->
  {{/if}}
</template>

<template name="viewDetailsCell">
  <button type="button" class="btn btn-primary btn-sm" id="view-order-details">View</button>
</template>
