<template name="requestedTimeAgoCell">
  <h3>{{requestedDateTimeAgo}}</h3>
  <h3><small>{{orderRequestedWhen}}</small></h3>
</template>

<template name="orderTypeCell">
  <h3>{{friendlyServiceType}}</h3><!-- collection helper -->
  {{#if orderHasRequestedForDate}}
    <h3><small>{{orderRequestedForWhen}}</small></h3>
  {{/if}}
</template>

<template name="reservationCell">
  <h3>{{orderGuestName}}</h3>
  <h3><small>{{orderDeviceLocation}}</small></h3>
</template>

<template name="orderStatusCell">
  <h3>{{friendlyStatus}}</h3><!-- collection helper -->
  {{#if orderIsPending}}
    <h3><small>{{orderReceivedBy}}</small></h3>
    <h3><small>{{orderReceivedWhen}}</small></h3>
  {{/if}}
</template>

<template name="viewDetailsCell">
  <button type="button" class="btn btn-info btn-sm" id="view-order-details">View Order</button>
</template>
