<template name="AppLayout">

    {{> Loader}}
    {{> yield "modals"}}
    {{#if ios}}
        <div id="ios-status-bar"></div>
    {{/if}}

    {{#if currentUser}}
        <!-- Page Wrapper-->
        <section id="main-wrapper" class="{{theme}} {{ios}}">
            <!-- Page wrapper -->
            {{> Header}}

            <!-- Left Sidebar Navigation -->
            {{> LeftSidebar}}

            <!-- Content wrapper -->
            <section class="main-content-wrapper">
                <!-- Main content view  -->
                {{> yield}}

            </section>
            <!-- /Content wraper-->

        </section>
        <!-- /Page wrapper-->

        <!-- Right Sidebar Navigation -->
        <!-- {{> RightSidebar}} -->

        <!--Config demo-->
        <!-- {{> ConfigDemo}} -->


    {{else}}
        {{#unless loggingIn}}
            {{> Accounts}}
        {{/unless}}
    {{/if}}
</template>
