<template name="LeftSidebarSettings">
  {{#with user}}
    {{#if isAdmin}}
      <h5 class="sidebar-header">Admin Settings</h5>
      <div class="setting-list">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <select class="form-control input-sm" id='select-hotel'>
                <option value="none">-- Select Hotel View --</option>
                {{#each hotels}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
              <small class="pull-right">{{currentHotelOrNone}}</small>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    {{#if isInAnyGroups}}
      <h5 class="sidebar-header">Groups</h5>
      <div class="setting-list">
        <div class="row">
          <div class="col-xs-12">
            <ul class='list-unstyled'>
              {{#each memberOfGroups}}
                <li><small><strong>{{name}}</strong></small></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/if}}
  {{/with}}
</template>
