<template name="orderHistoryTypeCell">
	<p><strong>{{friendlyOrderType}}</strong></p>
</template>

<template name="orderHistoryRequestedDateCell">
	<p><strong>{{orderRequestedDate}}</strong></p>
</template>

<template name="orderHistoryClosedDateCell">
	<p><strong>{{orderClosedDate}}</strong></p>
</template>

<template name="orderHistoryStatusCell">
	<p><strong>{{orderStatus}}</strong></p>
</template>

<template name="orderHistoryViewOrderCell">
	<a href="#"><strong>View Details</strong></a>
</template>