<template name="manageHotelUsers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="modal-content inline">
          <div class="modal-header">
            <h3 class="modal-title">Users</h3>
          </div>
          <div class="modal-body">
            {{> hotelStaff}}
          </div>
          {{#if canAddUsers}}
            <div class="modal-footer">
              <a href="{{pathFor 'addHotelStaff'}}" class='btn btn-default btn-lg'>Add New User</a>
            </div>
          {{/if}}
        </div><!-- /.modal-content -->        
      </div>    
    </div>
  </div>
</template>