<template name="device">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="modal-content inline">
            <div class="modal-header">
              <h3 class="modal-title">{{device.location}}</h3>
            </div>
            <div class="modal-body">
              <h4>User History</h4>
              {{#each users}}
                {{> deviceUserInfo}}
              {{/each}}
            </div>
          </div><!-- /.modal-content -->
      </div>    
    </div>
  </div>
</template>