<template name="devices">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="modal-content inline">
            <div class="modal-header">
              <h3 class="modal-title">Devices</h3>
            </div>
            <div class="modal-body">
              {{#each devices}}
                <a class='list-item btn-block' href="{{pathFor 'device'}}">
                  {{location}}
                </a>
              {{/each}}
            </div>
          </div><!-- /.modal-content -->
      </div>    
    </div>
  </div>
</template>

