<template name="customizeBackground">
  {{#with hotel}}
    <div id='add-custom-background' class="modal-content inline">
      <div class="modal-header">
        <h3 class="modal-title">Add Custom Background</h3>
      </div>
      <div class="modal-body">
          <img alt="background" class="img-responsive background-image" src="{{photoSrc}}" />
      </div>
      <div class='modal-footer'>
        <button class="btn btn-default btn-change-photo">Change Background</button>
      </div>
    </div><!-- /.modal-content -->
  {{/with}}
</template>