<template name="Navigation">
    <nav>
        <h5 class="sidebar-header">Navigation</h5>
        <ul class="nav nav-pills nav-stacked">

            <li class="{{currentRouteClass 'Dashboard'}}" data-state="Dashboard">
                <a href="{{pathFor 'Dashboard'}}" title="Dashboard">
                    <i class="fa  fa-fw fa-tachometer"></i> Dashboard
                </a>
            </li>

            {{#if isHotelStaff}}
                <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Orders'}} {{currentRouteClass 'Orders'}}" data-state="Orders" >
                    <a href="#" title="Orders">
                        <i class="fa  fa-fw fa-th-list"></i> Guest Orders
                        {{{hotelRequiredBadge}}}
                    </a>
                    <ul class="nav-sub {{navSubStateClass 'Orders'}}">
                        <li class="{{currentRouteClass 'Orders.Open'}}" data-state="Orders.Open">
                            <a href="{{pathFor 'Orders.Open'}}" title="Open Orders">
                                Open Orders
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Orders.History'}}" data-state="Orders.History">
                            <a href="{{pathFor 'Orders.History'}}" title="Orders History">
                                Order History
                            </a>
                        </li>
                    </ul>
                </li>
            {{/if}}

            {{#if isHotelManager}}
                <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Devices'}} {{currentRouteClass 'Devices'}}" data-state="Devices" >
                    <a href="#" title="Devices">
                        <i class="fa  fa-fw fa-map-marker"></i> Devices
                        {{{hotelRequiredBadge}}}
                    </a>
                    <ul class="nav-sub {{navSubStateClass 'Devices'}}">
                        <li class="{{currentRouteClass 'Devices.View'}}" data-state="Devices.View">
                            <a href="{{pathFor 'Devices.View'}}" title="View Devices">
                                View Devices
                            </a>
                        </li>
                        <li class="disabled {{currentRouteClass 'Devices.Configure'}}" data-state="Devices.Configure">
                            <a href="{{pathFor 'Devices.Configure'}}" title="Configure Devices">
                                Configure
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Staff'}} {{currentRouteClass 'Staff'}}" data-state="Staff" >
                    <a href="#" title="Staff">
                        <i class="fa  fa-fw fa-user"></i> Manage Staff
                        {{{hotelRequiredBadge}}}
                    </a>
                    <ul class="nav-sub {{navSubStateClass 'Staff'}}">
                        <li class="{{currentRouteClass 'Staff.View'}}" data-state="Staff.View">
                            <a href="{{pathFor 'Staff.View'}}" title="View Staff">
                                View Users
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Staff.AddNewUser'}}" data-state="Staff.AddNewUser">
                            <a href="{{pathFor 'Staff.AddNewUser'}}" title="Add New User">
                                + Add New User
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Services'}} {{currentRouteClass 'Services'}}" data-state="Services" >
                    <a href="#" title="Services">
                        <i class="fa  fa-fw fa-bell"></i> Manage Services
                        {{{hotelRequiredBadge}}}
                    </a>
                    <ul class="nav-sub {{navSubStateClass 'Services'}}">
                        <li class="{{currentRouteClass 'Services.ConfigAmenities'}}" data-state="Services.ConfigAmenities">
                            <a href="{{pathFor 'Services.ConfigAmenities'}}" title="Configure Amenities">
                                Hotel Amenities
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Services.ConfigRoomService'}}" data-state="Services.ConfigRoomService">
                            <a href="{{pathFor 'Services.ConfigRoomService'}}" title="Configure Room Service">
                                Room Service
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Services.ConfigHouseKeeping'}}" data-state="Services.ConfigHouseKeeping">
                            <a href="{{pathFor 'Services.ConfigHouseKeeping'}}" title="Configure House Keeping">
                                House Keeping
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Services.ConfigTransportation'}}" data-state="Services.ConfigTransportation">
                            <a href="{{pathFor 'Services.ConfigTransportation'}}" title="Configure Transportation">
                                Transportation
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Services.ConfigWakeUpCall'}}" data-state="Services.ConfigWakeUpCall">
                            <a href="{{pathFor 'Services.ConfigWakeUpCall'}}" title="Configure Wake Up Call">
                                Wake Up Calls
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Services.ConfigBellService'}}" data-state="Services.ConfigBellService">
                            <a href="{{pathFor 'Services.ConfigBellService'}}" title="Configure Bell Service">
                                Bell Service
                            </a>
                        </li>
                        <li class="{{currentRouteClass 'Services.ConfigValet'}}" data-state="Services.ConfigValet">
                            <a href="{{pathFor 'Services.ConfigValet'}}" title="Configure Valet Service">
                                Valet Service
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Hotel'}} {{currentRouteClass 'Hotel'}}" data-state="Hotel" >
                    <a href="#" title="Hotel">
                        <i class="fa  fa-fw fa-gear"></i> Hotel Info
                        {{{hotelRequiredBadge}}}
                    </a>
                    <ul class="nav-sub {{navSubStateClass 'Hotel'}}">
                        <li class="{{currentRouteClass 'Hotel.Settings'}}" data-state="Hotel.Settings">
                            <a href="{{pathFor 'Hotel.Settings'}}" title="Hotel Settings">
                                Hotel Settings
                            </a>
                        </li>
                    </ul>
                </li>
            {{/if}}

        </ul>
    </nav>
</template>