<template name="StayRoomCell">
  {{#unless isPrereg}} <!-- collection helper -->
    <p>{{roomName}}</p><!-- collection helper -->
  {{else}}
    <p>N/A ({{preReg.guestLastName}})</p> <!-- collection helper -->
  {{/unless}}
</template>

<template name="StayCheckInCell">
  {{#unless isPrereg}} <!-- collection helper -->
    <p>{{formattedCheckInDate}} {{formattedCheckInTime}}</p><!-- collection helper -->
  {{else}}
    <p>{{formattedStartDate}}</p> <!-- collection helper -->
  {{/unless}}
</template>

<template name="StayCheckOutCell">
  {{#unless isPrereg}} <!-- collection helper -->
    <p>{{formattedCheckOutDate}} {{formattedCheckOutTime}}</p><!-- collection helper -->
  {{else}}
    <p>{{formattedEndDate}}</p><!-- collection helper-->
  {{/unless}}
</template>

<template name="ViewStayCell">
  <button id="view-stay" type="button" class="btn btn-info btn-sm pull-right">View</button>
</template>
