<template name="StayRoomCell">
  {{#if isPrereg}} <!-- collection helper -->
    <p>N/A ({{preReg.guestLastName}})</p> <!-- collection helper -->
  {{else}}
    <p>{{#if roomName}}{{roomName}}{{else}}N/A{{/if}} ({{primaryGuest.lastName}})</p><!-- collection helper -->
  {{/if}}
</template>

<template name="StayCheckInCell">
  {{#if isPrereg}} <!-- collection helper -->
    <p>{{formattedStartDate}}</p> <!-- collection helper -->
  {{else}}
    <p>{{friendlyCheckInDate}}</p><!-- collection helper -->
  {{/if}}
</template>

<template name="StayCheckOutCell">
  {{#if isPrereg}} <!-- collection helper -->
    <p>{{formattedEndDate}}</p><!-- collection helper-->
  {{else}}
    <p>{{friendlyCheckOutDate}}</p><!-- collection helper -->
  {{/if}}
</template>

<template name="ViewStayCell">
  <button id="view-stay" type="button" class="btn btn-info btn-sm pull-right">View</button>
</template>
