<template name="addHotelStaff">
  <div class="container">
    <a class='btn btn-default' href="{{pathFor 'manageHotelUsers'}}">Back To Users</a>
    <div class="section">
      <h4>Add Hotel Users</h4>
      {{#autoForm schema=addHotelStaffSchema id="addHotelStaffForm" type="method" meteormethod="addHotelStaff"}}
        <fieldset>
          {{> afQuickField name='email'}}
          {{> afQuickField name='isManager'}}
          <div>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="submit" data-meteor-method="addHotelStaff" class="btn btn-primary">Add Hotel Staff</button>
          </div>
        </fieldset>
      {{/autoForm}}    
    </div>
  </div>
</template>