<template name="request">
  <header>
    <h3>
      {{deviceLocation}} - Request for {{friendlyRequestType}}
      <small class="pull-right">
        {{orderStatus}}
      </small>
    </h3>
  </header>
  
  {{#if isCancelled}}
    <div class="time-ago">
      <span>Cancelled {{cancelledDateMomentAgo}}</span>  
    </div>
    
  {{else}}
    <div class="request-details">
      <h4>Request Details</h4>
      {{> requestDetails}}
    </div>
    <div class='time-ago'>
      <span>Requested {{requestedDateTimeAgo}}</span>
    </div>
   
    <div class="buttons pull-right">
      <a class="btn btn-default btn-cancel-request">Cancel Request</a>
      <a class="btn btn-primary btn-complete-request">Mark As Complete</a>
    </div>
     
  {{/if}}
</template>