<template name="layout">
  
  <div id='layout' style="background-image: url('{{hotelPhotoUrl}}')">
    
    {{> header}}
    {{> meteorErrors}}
    
    <div class="content">
      {{#if currentUser}}
        <div class="container-fluid">
          <div class="row">
            {{> yield region='aside'}}
            {{> yield}}
          </div>
          
        </div>
      {{else}}
        {{#if loggingIn}}
          {{> loggingInOverlay}}
        {{else}}
          <div class="container-fluid">
            {{> login}}
          </div>
        {{/if}}
      {{/if}}  
    </div>
    
  </div>
</template>