<template name="header">
  <div class="navbar navbar-plusmore navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#if isLoggedIn}}
        <a class="navbar-brand" href="{{pathFor 'dashboard'}}">Plus More {{#if isHotelStaff}}@ {{hotelName}}{{/if}}</a>
        {{else}}
        <a class="navbar-brand" href="{{pathFor 'homepage'}}">Plus More</a>
        {{/if}}
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          {{#if isHotelManager}}
            <li class="{{activeRouteClass 'manageHotelUsers'}}">
              <a href="{{pathFor 'manageHotelUsers'}}">Manage Hotel Users</a>
            </li>
          {{/if}}

          {{#if isHotelStaff}}
            <li class="{{activeRouteClass 'devices'}}">
              <a href="{{pathFor 'devices'}}">Devices</a>
            </li>
            <li class="{{activeRouteClass 'openPatronOrders'}}">
              <a href="{{pathFor 'openPatronOrders'}}">Open Orders</a>
            </li>
          {{/if}}

          {{#if isLoggedIn}}
            <li><a href="{{pathFor 'homepage'}}" class="log-out">Log Out</a></li>
          {{/if}}

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</template>