<template name="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="modal-content inline">
          <div class="modal-header">
            <h2 class="modal-title">
              Welcome to PlusMore
            </h2>
          </div>
        </div>
      </div>
      
    </div>
  
    {{#if isInRole 'admin'}}
      <div class="row">
        <div class="col-md-12">
            <div class="modal-content inline">
              <div class="modal-header">
                <h3 class="modal-title">Select a Hotel</h3>
              </div>
              <div class="modal-body">
                {{> selectHotel}}
              </div>
            </div><!-- /.modal-content -->
        </div>    
      </div>
    {{/if}}  

  </div>
  
</template>