<template name="dashboard">
  <div class="container">
    <div class="row">
      {{#if isInRole 'admin'}}
      {{/if}}
      {{#if canManageExperiences}}
        <div class="section">
          <header>
            <h3>Manage Your Experiences</h3>
          </header>

          <a class="btn btn-default" href="{{pathFor 'manageExperiencesCategories'}}">Manage Experiences</a>
        </div>
      {{/if}}
      {{#if isInRole 'hotel-staff'}}
        <div class="section">
          <header>
            <h3>Welcome to Plus More</h3>
          </header>

          <a class="btn btn-default" href="{{pathFor 'devices'}}">See Devices</a>
          <a class="btn btn-default" href="{{pathFor 'openPatronOrders'}}">See Open Orders</a>
        </div>
      {{/if}}
    </div>

  </div>
</template>