<template name="hotelServicesNav">
  <div class="col-md-3" id='hotel-services-menu'>
    <ul class="nav nav-pills nav-stacked">
      <li class="{{activeHotelServiceClass 'configureTransportation'}}">
        <a class='menu-item' href="{{pathFor 'configureTransportation'}}">Transportation</a>
      </li>
      <li class="{{activeHotelServiceClass 'configureBellService'}}">
        <a class='menu-item' href="{{pathFor 'configureBellService'}}">Bell Service</a>
      </li>
      <li class="{{activeHotelServiceClass 'configureHouseKeeping'}}">
        <a class='menu-item' href="{{pathFor 'configureHouseKeeping'}}">House Keeping</a>
      </li>
      <li class="{{activeHotelServiceClass 'configureWakeUpCall'}}">
        <a class='menu-item' href="{{pathFor 'configureWakeUpCall'}}">Wake Up Call</a>
      </li>
      <li class="{{activeHotelServiceClass 'configureValetServices'}}">
        <a class='menu-item' href="{{pathFor 'configureValetServices'}}">Valet Services</a>
      </li>
    </ul>
  </div>
</template>