<template name="orderHistoryRequestedCell">
  <h3>{{orderRequestedWhen}}</h3>
  <h3><small>{{orderedBy.fullName}} {{device.location}}</small></h3><!-- collection helper -->
</template>

<template name="orderHistoryTypeCell">
  <h3>{{friendlyServiceType}}</h3><!-- collection helper -->
</template>

<template name="orderHistoryStatusCell">
  <h3>{{friendlyStatus}}</h3><!-- collection helper -->
  <h3><small>{{orderClosedWhen}}</small></h3>
  <h3><small>{{closedBy}}</small></h3><!-- collection helper -->
</template>

<template name="orderHistoryViewCell">
  <button type="button" class="btn btn-info btn-sm" id="view-order-details">View Order</button>
</template>
