<template name="orderHistoryRequestedCell">
	<h3>{{orderRequestedWhen}}</h3>
	<h3><small>{{orderGuestName}} {{orderDeviceLocation}}</small></h3>
</template>

<template name="orderHistoryTypeCell">
	<h3>{{orderServiceType}}</h3>
</template>

<template name="orderHistoryStatusCell">
	<h3>{{orderStatus}}</h3>
	<h3><small>{{orderClosedWhen}}</small></h3>
	<h3><small>{{orderClosedBy}}</small></h3>
</template>

<template name="orderHistoryViewCell">
	<button type="button" class="btn btn-info btn-sm" id="view-order-details">View Order</button>
</template>