<template name="Navigation">
  <nav>
    <h5 class="sidebar-header">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">

      <li class="{{currentRouteClass 'Dashboard'}}" data-state="Dashboard">
        <a href="{{pathFor 'Dashboard'}}" title="Dashboard">
          <i class="fa  fa-fw fa-tachometer"></i> Dashboard
        </a>
      </li>

      {{#if isHotelStaff}}
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Guest.CheckIn'}}" data-state="Guest.CheckIn">
          <a href="{{pathFor 'Guest.CheckIn'}}" title="Check-In Guest">
            <i class="fa  fa-fw fa-sign-in"></i> Check-In Guest
            {{{hotelRequiredBadge}}}
          </a>
        </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Orders'}} {{currentRouteClass 'Orders'}}" data-state="Orders" >
          <a href="#" title="Orders">
            <i class="fa  fa-fw fa-th-list"></i> Guest Orders
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Orders'}}">
            <li class="{{currentRouteClass 'Orders.Open'}}" data-state="Orders.Open">
              <a href="{{pathFor 'Orders.Open'}}" title="Open Orders">
                Open Orders
              </a>
            </li>
            <li class="{{currentRouteClass 'Orders.History'}}" data-state="Orders.History">
              <a href="{{pathFor 'Orders.History'}}" title="Orders History">
                Order History
              </a>
            </li>
          </ul>
        </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Rooms'}} {{currentRouteClass 'Rooms'}}" data-state="Rooms" >
          <a href="#" title="Rooms">
            <i class="fa  fa-fw fa-key"></i> Rooms
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Rooms.View'}}">
            <li class="{{currentRouteClass 'Rooms.View'}}" data-state="Rooms.View">
              <a href="{{pathFor 'Rooms.View'}}" title="View Rooms">
                View Rooms
              </a>
            </li>
            {{#if isHotelManager}}
              <li class="{{currentRouteClass 'Rooms.Configure'}}" data-state="Rooms.Configure">
                <a href="{{pathFor 'Rooms.Configure'}}" title="Add Rooms">
                  + Add Rooms
                </a>
              </li>
            {{/if}}
          </ul>
        </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Stays'}} {{currentRouteClass 'Stays'}}" data-state="Stays" >
          <a href="#" title="Stays">
            <i class="fa  fa-fw fa-calendar"></i> Stays
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Stays.Current'}}">
            <li class="{{currentRouteClass 'Stays.Current'}}" data-state="Stays.Current">
              <a href="{{pathFor 'Stays.Current'}}" title="Current Stays">
                Current Stays
              </a>
            </li>
            <li class="{{currentRouteClass 'Stays.History'}}" data-state="Stays.History">
              <a href="{{pathFor 'Stays.History'}}" title="Stays History">
                Stays History
              </a>
            </li>
          </ul>
        </li>
      {{/if}}

      {{#if isHotelManager}}
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Devices'}} {{currentRouteClass 'Devices'}}" data-state="Devices" >
          <a href="#" title="Devices">
            <i class="fa  fa-fw fa-map-marker"></i> Devices
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Devices'}}">
            <li class="{{currentRouteClass 'Devices.View'}}" data-state="Devices.View">
              <a href="{{pathFor 'Devices.View'}}" title="View Devices">
                View Devices
              </a>
            </li>
            <li class="{{currentRouteClass 'Devices.Configure'}}" data-state="Devices.Configure">
              <a href="{{pathFor 'Devices.Configure'}}" title="Change Background">
                Change Background
              </a>
            </li>
          </ul>
        </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Staff'}} {{currentRouteClass 'Staff'}}" data-state="Staff" >
          <a href="#" title="Staff">
            <i class="fa  fa-fw fa-user"></i> Your Staff
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Staff'}}">
            <li class="{{currentRouteClass 'Staff.View'}}" data-state="Staff.View">
              <a href="{{pathFor 'Staff.View'}}" title="View Staff">
                View Users
              </a>
            </li>
            <li class="{{currentRouteClass 'Staff.AddNewUser'}}" data-state="Staff.AddNewUser">
              <a href="{{pathFor 'Staff.AddNewUser'}}" title="Add New User">
                + Add New User
              </a>
            </li>
          </ul>
        </li>
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Teams'}}" data-state="Teams">
        <a href="{{pathFor 'Teams.Manage'}}" title="Teams">
          <i class="fa  fa-fw fa-group"></i> Manage Teams
          {{{hotelRequiredBadge}}}
        </a>
      </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Services'}} {{currentRouteClass 'Services'}}" data-state="Services" >
          <a href="#" title="Services">
            <i class="fa  fa-fw fa-bell"></i> Guest Services
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Services'}}">
            <li class="{{currentRouteClass 'Services.ConfigAmenities'}}" data-state="Services.ConfigAmenities">
              <a href="{{pathFor 'Services.ConfigAmenities'}}" title="Configure Amenities">
                Hotel Amenities
              </a>
            </li>
            <li class="{{currentRouteClass 'Services.ConfigRoomService'}}" data-state="Services.ConfigRoomService">
              <a href="{{pathFor 'Services.ConfigRoomService'}}" title="Configure Room Service">
                Room Service
              </a>
            </li>
            <li class="{{currentRouteClass 'Services.ConfigHouseKeeping'}}" data-state="Services.ConfigHouseKeeping">
              <a href="{{pathFor 'Services.ConfigHouseKeeping'}}" title="Configure House Keeping">
                House Keeping
              </a>
            </li>
            <li class="{{currentRouteClass 'Services.ConfigTransportation'}}" data-state="Services.ConfigTransportation">
              <a href="{{pathFor 'Services.ConfigTransportation'}}" title="Configure Transportation">
                Transportation
              </a>
            </li>
            <li class="{{currentRouteClass 'Services.ConfigWakeUpCall'}}" data-state="Services.ConfigWakeUpCall">
              <a href="{{pathFor 'Services.ConfigWakeUpCall'}}" title="Configure Wake Up Call">
                Wake Up Calls
              </a>
            </li>
            <li class="{{currentRouteClass 'Services.ConfigBellService'}}" data-state="Services.ConfigBellService">
              <a href="{{pathFor 'Services.ConfigBellService'}}" title="Configure Bell Service">
                Bell Service
              </a>
            </li>
            <li class="{{currentRouteClass 'Services.ConfigValet'}}" data-state="Services.ConfigValet">
              <a href="{{pathFor 'Services.ConfigValet'}}" title="Configure Valet Service">
                Valet Service
              </a>
            </li>
          </ul>
        </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Hotel'}} {{currentRouteClass 'Hotel'}}" data-state="Hotel" >
          <a href="#" title="Hotel">
            <i class="fa  fa-fw fa-gear"></i> Hotel Info
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Hotel'}}">
            <li class="{{currentRouteClass 'Hotel.Settings'}}" data-state="Hotel.Settings">
              <a href="{{pathFor 'Hotel.Settings'}}" title="Hotel Settings">
                Hotel Settings
              </a>
            </li>
          </ul>
        </li>
      {{/if}}

    </ul>
  </nav>
</template>
