<template name="Navigation">
  <nav>
    <h5 class="sidebar-header">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">

      <li class="{{currentRouteClass 'Dashboard'}}" data-state="Dashboard">
        <a href="{{pathFor 'Dashboard'}}" title="Dashboard">
          <i class="icon icon-fw icon-tachometer"></i> Dashboard
        </a>
      </li>

      {{#if isHotelStaff}}
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Guest.CheckIn'}}" data-state="Guest">
          <a href="{{pathFor 'Guest.CheckIn'}}" title="Check-In Guest">
            <i class="icon icon-fw icon-log-in"></i> Set Up Guest
            {{{hotelRequiredBadge}}}
          </a>
        </li>
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Orders'}}" data-state="Orders">
          <a href="{{pathFor 'Orders.Open'}}" title="Guest Orders">
            <i class="icon icon-fw icon-list-2"></i> Guest Orders
            {{#if requiresHotel}}
              {{{hotelRequiredBadge}}}
            {{else}}
              {{> OpenOrdersBadge}}
            {{/if}}
          </a>
        </li>
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Rooms'}}" data-state="Rooms">
          <a href="{{pathFor 'Rooms.View'}}" title="View Rooms">
            <i class="icon icon-fw icon-key"></i> Rooms
            {{{hotelRequiredBadge}}}
          </a>
        </li>
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Stays'}}" data-state="Stays">
          <a href="{{pathFor 'Stays.View'}}" title="View Stays">
            <i class="icon icon-fw icon-calendar"></i> Stays
            {{{hotelRequiredBadge}}}
          </a>
        </li>
      {{/if}}

      {{#if isHotelManager}}
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Devices'}}" data-state="Devices">
          <a href="{{pathFor 'Devices.View'}}" title="View Devices">
            <i class="icon icon-fw icon-pin-map"></i> Devices
            {{{hotelRequiredBadge}}}
          </a>
        </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Staff'}} {{currentRouteClass 'Staff'}}" data-state="Staff" >
          <a href="#" title="Staff">
            <i class="icon icon-fw icon-group"></i> Staff
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Staff'}}">
            <li class="{{currentRouteClass 'Staff.View'}}" data-state="Staff.View">
              <a href="{{pathFor 'Staff.View'}}" title="View Staff">
                View Staff
              </a>
            </li>
            <li class="{{currentRouteClass 'Staff.Groups'}}" data-state="Staff.Groups">
              <a href="{{pathFor 'Staff.Groups'}}" title="Manage Groups">
                Manage Groups
              </a>
            </li>
          </ul>
        </li>
        <li class="{{hotelRequiredClass}} nav-dropdown {{stateClass 'Services'}} {{currentRouteClass 'Services'}}" data-state="Services" >
          <a href="#" title="Services">
            <i class="icon icon-fw icon-bell"></i> Guest Services
            {{{hotelRequiredBadge}}}
          </a>
          <ul class="nav-sub {{navSubStateClass 'Services'}}">
            <li class="{{currentRouteClass 'Services.ConfigAmenities'}}" data-state="Services.ConfigAmenities">
              <a href="{{pathFor 'Services.ConfigAmenities'}}" title="Configure Amenities">
                Hotel Amenities
              </a>
            </li>
            {{#if roomServiceActive}}
              <li class="{{currentRouteClass 'Services.ConfigRoomService'}}" data-state="Services.ConfigRoomService">
                <a href="{{pathFor 'Services.ConfigRoomService'}}" title="Configure Room Service">
                  Room Service
                </a>
              </li>
            {{/if}}
            {{#if Template.subscriptionsReady}}
              {{#each genericServices}}
                <li class="{{currentRouteClass 'Services.ConfigService'}}" data-state="Services.ConfigService">
                  <a href="{{pathFor 'Services.ConfigService'}}" title="Configure {{serviceName}}">
                    {{friendlyServiceType}}
                  </a>
                </li>
              {{/each}}
            {{/if}}
            <li class="{{currentRouteClass 'Services.AddServices'}}" data-state="Services.AddServices">
              <a href="{{pathFor 'Services.AddServices'}}" title="Add Services">
                + Add Services
              </a>
            </li>
          </ul>
        </li>
        <li class="{{hotelRequiredClass}} {{currentRouteClass 'Hotel'}}" data-state="Hotel">
          <a href="{{pathFor 'Hotel.Settings'}}" title="Hotel Settings">
            <i class="icon icon-fw icon-cog-gear"></i> Hotel Settings
            {{{hotelRequiredBadge}}}
          </a>
        </li>
      {{/if}}

    </ul>
  </nav>
</template>
