<template name="viewDevicesLocationCell">
  <h3>
    {{#with room}}<!-- collection helper -->
      {{name}}
    {{else}}
      No Room
    {{/with}}
  </h3>
  {{#if isInRole 'admin'}}
    <h4>{{location}} (Deprecated)</h4>
  {{/if}}
</template>

<template name="viewDevicesCheckinCell">
  {{#if room.stay.isActive}}<!-- collection helper -->
    <h3>
      {{room.stay.formattedCheckInDate}}<!-- collection helper -->
      <small>
        {{room.stay.formattedCheckInTime}}<!-- collection helper -->
      </small>
    </h3>
  {{else}}
    <h3>-</h3>
  {{/if}}
</template>

<template name="viewDevicesCheckoutCell">
  {{#if room.stay.isActive}}<!-- collection helper -->
    <h3>{{room.stay.formattedCheckOutDate}}<!-- collection helper -->
      <small>{{room.stay.formattedCheckOutTime}}</small><!-- collection helper -->
    </h3>
  {{else}}
    <h3>-</h3>
  {{/if}}
</template>

<template name="viewDevicesActionCell">
  {{#if isHotelManager}}
    <div class="del-device actions pull-right">
      <i class="icon icon-fw icon-x"></i>
    </div>
  {{/if}}
</template>
